<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16"  href="../static/favicons/icon.ico">
</head>
<body>

    <title>Home / Bark</title>

    <!----- FAVICON ----->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!----- CSS ----->
    <link href="../static/css/home.css" rel="stylesheet" type="text/css">
    <link href="../static/css/side-left.css" rel="stylesheet" type="text/css">
    <link href="../static/css/navigation.css" rel="stylesheet" type="text/css">
    <link href="../static/css/overview.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="side-left">
        <div class="logo-bark">
            <img src="../static/favicons/icon.ico" id="bark-logo" alt="" onclick="barkColor()" value="calm">
        </div>
        <div class="my-profile">
            <img src="../static/images/avatar2-tmp.png" class="avatar" alt="my-avatar">

            <h2>{{.Username}} : PSEUDO</h2>
        </div>
        <div class="consumer-profile">
            <div>
                <p>LEVEL</p>
                <div class="progress-bar"></div>
            </div>
            <div class="stat">
                <div class="Bark-stat">
                    <p id="Denomination1">Barks</p><p>791</p> <!--NUMBER-->
                </div>
                <div class="Like-stat">
                    <p id="Denomination2">Likes</p><p>1463</p><!--NUMBER-->
                </div>
                <div class="Dislike-stat">
                    <p id="Denomination3">Dislikes</p><p>294</p><!--NUMBER-->
                </div>
            </div>
        </div>
        <div class="setting-button">
            <div id="icon" class="fa fa-cog"></div>
            <a class="link-setting" href="/settings">Settings</a>
        </div>
        <div class="barking-button">
            <div id="icon" class="fa fa-pencil"></div>
            <a href="/barking">Barking</a>
        </div>
    </div>
    <div class="center">
        <button class="topic-link">
            <h1>Overclock/Undervolt 7900XT 250W IG<!--TITLE TOPIC--></h1>
            <div class="sub-info">
                <!-- <img src="../static/icons/message-icon.png" alt="message-icon.png"> -->
                <h3 class="mssgNumber">8<!--NUMBER OF MESSAGES--></h3>
                <!-- <img src="../static/icons/time-icon.png" alt="message-icon.png" style="margin-left: 16px;"> -->
                <h3 class="date">26 mai 2023<!--DATE--></h3>
                <div class="tag">Hardware</div>
                <div class="tag">Gaming</div>
            </div>
        </button>
        <button class="topic-link">
            <h1>Overclock/Undervolt 7900XT 250W IG<!--TITLE TOPIC--></h1>
            <div class="sub-info">
                <!-- <img src="../static/icons/message-icon.png" alt="message-icon.png"> -->
                <h3 class="mssgNumber">8<!--NUMBER OF MESSAGES--></h3>
                <!-- <img src="../static/icons/time-icon.png" alt="message-icon.png" style="margin-left: 16px;"> -->
                <h3 class="date">26 mai 2023<!--DATE--></h3>
                <div class="tag">Hardware</div>
                <div class="tag">Gaming</div>
            </div>
        </button>
        <button class="topic-link">
            <h1>Overclock/Undervolt 7900XT 250W IG<!--TITLE TOPIC--></h1>
            <div class="sub-info">
                <!-- <img src="../static/icons/message-icon.png" alt="message-icon.png"> -->
                <h3 class="mssgNumber">8<!--NUMBER OF MESSAGES--></h3>
                <!-- <img src="../static/icons/time-icon.png" alt="message-icon.png" style="margin-left: 16px;"> -->
                <h3 class="date">26 mai 2023<!--DATE--></h3>
                <div class="tag">Hardware</div>
                <div class="tag">Gaming</div>
            </div>
        </button>
        <button class="topic-link">
            <h1>Overclock/Undervolt 7900XT 250W IG<!--TITLE TOPIC--></h1>
            <div class="sub-info">
                <!-- <img src="../static/icons/message-icon.png" alt="message-icon.png"> -->
                <h3 class="mssgNumber">8<!--NUMBER OF MESSAGES--></h3>
                <!-- <img src="../static/icons/time-icon.png" alt="message-icon.png" style="margin-left: 16px;"> -->
                <h3 class="date">26 mai 2023<!--DATE--></h3>
                <div class="tag">Hardware</div>
                <div class="tag">Gaming</div>
            </div>
        </button>
        <button class="topic-link">
            <h1>Overclock/Undervolt 7900XT 250W IG<!--TITLE TOPIC--></h1>
            <div class="sub-info">
                <!-- <img src="../static/icons/message-icon.png" alt="message-icon.png"> -->
                <h3 class="mssgNumber">8<!--NUMBER OF MESSAGES--></h3>
                <!-- <img src="../static/icons/time-icon.png" alt="message-icon.png" style="margin-left: 16px;"> -->
                <h3 class="date">26 mai 2023<!--DATE--></h3>
                <div class="tag">Hardware</div>
                <div class="tag">Gaming</div>
            </div>
        </button>
        <button class="topic-link">
            <h1>Overclock/Undervolt 7900XT 250W IG<!--TITLE TOPIC--></h1>
            <div class="sub-info">
                <!-- <img src="../static/icons/message-icon.png" alt="message-icon.png"> -->
                <h3 class="mssgNumber">8<!--NUMBER OF MESSAGES--></h3>
                <!-- <img src="../static/icons/time-icon.png" alt="message-icon.png" style="margin-left: 16px;"> -->
                <h3 class="date">26 mai 2023<!--DATE--></h3>
                <div class="tag">Hardware</div>
                <div class="tag">Gaming</div>
            </div>
        </button>
        <button class="topic-link">
            <h1>Overclock/Undervolt 7900XT 250W IG<!--TITLE TOPIC--></h1>
            <div class="sub-info">
                <!-- <img src="../static/icons/message-icon.png" alt="message-icon.png"> -->
                <h3 class="mssgNumber">8<!--NUMBER OF MESSAGES--></h3>
                <!-- <img src="../static/icons/time-icon.png" alt="message-icon.png" style="margin-left: 16px;"> -->
                <h3 class="date">26 mai 2023<!--DATE--></h3>
                <div class="tag">Hardware</div>
                <div class="tag">Gaming</div>
            </div>
        </button>
        <button class="topic-link">
            <h1>Overclock/Undervolt 7900XT 250W IG<!--TITLE TOPIC--></h1>
            <div class="sub-info">
                <!-- <img src="../static/icons/message-icon.png" alt="message-icon.png"> -->
                <h3 class="mssgNumber">8<!--NUMBER OF MESSAGES--></h3>
                <!-- <img src="../static/icons/time-icon.png" alt="message-icon.png" style="margin-left: 16px;"> -->
                <h3 class="date">26 mai 2023<!--DATE--></h3>
                <div class="tag">Hardware</div>
                <div class="tag">Gaming</div>
            </div>
        </button>
    </div>
    <div class="navigation">
        <div class="search-bar">
            <input class="search" type="text" placeholder="Search..." name="search"/>
        </div>
        <div class="selector-sort">
            <select name="select-items" id="sort-mod">
              <option disabled selected>Sort</option>
              <option value="Latest">Latest</option>
              <option value="Earliest">Earliest</option>
              
            </select>
            <div class="fa fa-sort-amount-asc"></div>
            
        </div>
        <div class="selector-filter">
            <select name="select-items" id="sort-mod">
              <option disabled selected>Filter</option>
              <option value="Hardware">Hardware</option>
              <option value="Gaming">Gaming</option>
              <option value="Hardware">Music</option>
              <option value="Gaming">Cinema</option>
            </select>
            <div class="fa fa-filter"></div>
        </div>
    </div>
</body>
<script src='../static/js/script.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="../static/js/login.js"></script>
</html>