<!DOCTYPE html>
<html lang="en">
<head>
    <!----- FORMATTING ----->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home / Bark</title>

    <!----- FAVICON ----->
    <link rel="icon" type="image/png" sizes="16x16"  href="../static/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!----- CSS ----->
    <link href="../static/css/home.css" rel="stylesheet" type="text/css">
    <link href="../static/css/side-left.css" rel="stylesheet" type="text/css">
    <link href="../static/css/selector.css" rel="stylesheet" type="text/css">
    <link href="../static/font/fonts.css" rel="stylesheet" type="text/css">
    <link href="../static/css/overview.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="side-left">
        <div class="my-profile">
            <img src="" class="avatar" alt="my-avatar">
            <h2>Harcadakad<!--PSEDO--></h2>
        </div>
        <div class="consumer-profile">
            <table>
                <tr><td>LEVEL <!--NUMBER--></td><td>239 <!--XPs--></td></tr>
            </table>
            <div class="progress-bar"></div>
            <table>
                <tr><td>Barks</td><td>791<!--NUMBER--></td></tr>
                <tr><td>Likes</td><td>1463<!--NUMBER--></td></tr>
                <tr><td>Dislikes</td><td>294<!--NUMBER--></td></tr>
            </table>
        </div>
        <li class="settings-button button">
            <i class="icon"></i>
            <a href="/settings">Settings</a>
        </li>
        <li class="barking-button button">
            <i class="icon"></i>
            <a href="/barking">Barking</a>
        </li>
    </div>
    <div class="center">
        <div class="topic-link">
            <h1>Overclock/Undervolt 7900XT 250W IG<!--TITLE TOPIC--></h1>
            <div class="sub-info">
                <i><!-----ICON NUMBER OF MESSAGES-----></i>
                <h3>8 <!--NUMBER OF MESSAGES-->• 11 mai 2023<!--DATE--></h3>
                <div class="tag">Hardware</div>
            </div>
        </div>
        <button>|<</button>
        <button><</button>
        <button>></button>
        <button>>|</button>
    </div>
    <div class="selector">
        <li>
            <input class="search" type="text" placeholder="Search" name="search"/>
        </li>
        <li class="button">
            <i class="icon"><!--ICON_SORT--></i>
            <select name="select-items" id="sort-mod">
              <option disabled selected>Sort</option>
              <option value="Latest">Latest</option>
              <option value="Earliest">Earliest</option>
            </select>
            <i class="icon"><!--ICON_ARROW_DOWN--></i>
        </li>
        <li class="button">
            <i class="icon"><!--ICON_FILTER--></i>
            <select name="select-items" id="sort-mod">
              <option disabled selected>Filter</option>
              <option value="Hardware">Hardware</option>
              <option value="Gaming">Gaming</option>
              <option value="Hardware">Music</option>
              <option value="Gaming">Cinema</option>
            </select>
            <i class="icon"><!--ICON_ARROW_DOWN--></i>
        </li>
    </div>
</body>
</html>
