<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home / Bark</title>

    <!----- FAVICON ----->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!----- CSS ----->
    <link href="../static/css/home.css" rel="stylesheet" type="text/css">
    <link href="../static/css/side-left.css" rel="stylesheet" type="text/css">
    <link href="../static/css/navigation.css" rel="stylesheet" type="text/css">
    <link href="../static/css/overview.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/css/popup.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="side-left">
        <div class="logo-bark">
            <img src="../static/favicons/icon.ico" id="bark-logo" alt="" onclick="barkColor()" value="calm">
        </div>
        <div class="my-profile">
            <img src="../static/images/avatar2-tmp.png" class="avatar" alt="my-avatar">
            <h2>Harcadakad</h2>
        </div>
        <div class="consumer-profile">
            <div>
                <p>LEVEL 1</p>
                <div class="progress-bar"></div>
            </div>
            <div class="stat">
                <div class="Bark-stat">
                    <p id="Denomination1">Barks</p><p>791</p> <!--NUMBER-->
                </div>
                <div class="Like-stat">
                    <p id="Denomination2">Likes</p><p>1463</p><!--NUMBER-->
                </div>
                <div class="Dislike-stat">
                    <p id="Denomination3">Dislikes</p><p>294</p><!--NUMBER-->
                </div>
            </div>
        </div>
        <button class="setting-button" onclick="redirection('/settings')">
            <div id="icon" class="fa fa-cog"></div>
            <p class="link-setting">Settings</p>
        </button>
        <button class="barking-button" onclick="redirection('/post')">
            <div id="icon" class="fa fa-pencil"></div>
            <a class="link-setting" href="/post">Barking</a>
        </buton>
    </div>
    <div class="center">
            {{ range $element := .Post }}
                <button class="topic-link">
                    <h1>{{ $element.Title }}</h1>
                    <div class="sub-info">
                        <h3 class="mssgNumber">0<!--NUMBER OF MESSAGES--></h3>
                        <h3 class="date">{{ $element.Date }}</h3>
                        <div class="tag">{{ $element.Tag }}</div>
                    </div>
                </button>
            {{ end }}
        <div class="nav-button">
            <form action="" method="POST">
                <button class="nav-element" id="first-posts" type="submit"><input type="hidden" value="first-posts" name="browse-posts"></button>
            </form>
            <form action="" method="POST">
                <button class="nav-element" id="prev-posts" type="submit"><input type="hidden" value="prev-posts" name="browse-posts"></button>
            </form>
            <form action="" method="POST">
                <button class="nav-element" id="next-posts" type="submit"><input type="hidden" value="next-posts" name="browse-posts"></button>
            </form>
            <form action="" method="POST">
                <button class="nav-element" id="last-posts" type="submit"><input type="hidden" value="last-posts" name="browse-posts"></button>
            </form>
        </div>
    </div>
    <div class="navigation">
        <div class="search-bar">
            <input class="search" type="text" placeholder="Search..." name="search"/>
        </div>
        <div class="selector-sort">
            <select name="select-items" id="sort-mod">
              <option disabled selected>Sort</option>
              <option value="Latest">Latest</option>
              <option value="Earliest">Earliest</option>
              
            </select>
            <div class="fa fa-sort-amount-asc"></div>
            
        </div>
        <div class="selector-filter">
            <select name="select-items" id="sort-mod">
              <option disabled selected>Filter</option>
              <option value="Hardware">Hardware</option>
              <option value="Gaming">Gaming</option>
              <option value="Hardware">Music</option>
              <option value="Gaming">Cinema</option>
            </select>
            <div class="fa fa-filter"></div>
        </div>
    </div>
</body>
<script src='../static/js/script.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="../static/js/login.js"></script>
</html>

<script>
    function openPopup() {
        popup = document.getElementById('popup')
        popup.classList.add('popup-active')
    }

    function closePopup() {
        popup = document.getElementById('popup')
        popup.classList.remove('popup-active')
    }
</script>
