<!DOCTYPE html>
<html>
<head>
    <!----- FORMATTING ----->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login / Bark</title>

    <!----- FAVICON ----->
    <link rel="icon" type="image/png" sizes="16x16"  href="../static/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!----- CSS ----->
    <!-- <link href="../static/font/fonts.css" rel="stylesheet" type="text/css"> -->
    <link href="../static/css/login.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/overview.css'>
    
</head>
<body>
    <!-- <canvas id="c"></canvas> -->
    <div class="container">
        <div class="login">
            <img src="../static/img/logo.png" onclick="barkColorLogin()" alt="logo" class="logo" id="bark-logo">
            <h1>Login</h1>
            <form action="" method="POST" class="form-login">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Username" id="username"required >
                <label for="password">Password</label>
                <input type="password" name="password" id="password"placeholder="⁎⁎⁎⁎⁎⁎" required>
                <div class="remember-box">
                    <input onclick="pulse()" type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <button type="submit" class="btn-login" id="btn-login">
                    Login
                </button>
                <label for="forgot"> </label>
            </form>
            <div id="toRegister">
                <a  href="/register">Register</a>
            </div>
            
        </div>
    </div>
</body>

<!-- <script type="module" src="../static/js/background.js"></script> -->
<script src='../static/js/script.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</html>