<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/popup.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="popup-screen" id="popup">
        <button id="cancel-button" onclick="closePopup()"><img src="../static/icons/cancel-icon.png" alt="cancel"></button>
        <div id="popup-text-input">
            <form action="" method="POST">
                <input id="title-topic" type="text" name="title" placeholder="Title" required>
                <textarea id="textarea" name="textarea" rows="5" cols="33" placeholder="What do you want to talk about ?" required></textarea>
                <select id="tag">
                    <option value="Tag">Tag</option>
                    <option value="Hardware">Hardware</option>
                    <option value="Gaming">Gaming</option>
                    <option value="Music">Music</option>
                    <option value="Cinema">Cinema</option>
                </select>
                <button id="barking-button" onclick="closePopup()">Barking</button>
            </form>
        </div>
    </div>
</body>
</html>