<!DOCTYPE html>
<html lang="en">
<head>
    <!----- FORMATTING ----->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register / Bark</title>

    <!----- FAVICON ----->
    <link rel="icon" type="image/png" sizes="16x16"  href="../static/favicons/icon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!----- CSS ----->
    <!-- <link href="../static/font/fonts.css" rel="stylesheet" type="text/css"> -->
    <link href="../static/css/register.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/overview.css'>
</head>
<body>
    <div class="error-popup" id="err">{{.}}</div>
    <div class="container">
        <div class="register">
            <img onclick="barkColor()" src="../static/img/logo.png" alt="logo" class="logo" id="bark-logo">
            <h1>Create an account</h1>
            <form action="" method="POST" class="form-register">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="username" id="username" required oninvalid="this.setCustomValidity('Enter a username without:\n -space\n-special character')" oninput="setCustomValidity('')">
                <label for="email">E-Mail</label>
                <input type="text" name="email" placeholder="e-mail" id="email" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="⁎⁎⁎⁎⁎⁎" required>
                <label for="password">Confirm Password</label>
                <input type="password" name="passwordverif" id="passwordverif" placeholder="⁎⁎⁎⁎⁎⁎" required>
                <button type="submit" class="btn-register">Register</button>
                <label id="goto-login" for="forgot">Already have an account </label>
            </form>
            <div id="toLogin">
                <a href="/login">Login</a>
            </div>
        </div>
    </div>
</body>
<script src='../static/js/script.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</html>
