<!DOCTYPE html>
<html lang="en">
<head>
    <!----- FORMATTING ----->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Settings / Bark</title>

    <!----- FAVICON ----->
    <link rel="icon" type="image/png" sizes="16x16"  href="../static/favicons/icon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!----- CSS ----->
    <link href="../static/css/overview.css" rel="stylesheet" type="text/css">
    <link href="../static/css/settings.css" rel="stylesheet" type="text/css">

    <!----- JS ----->
    <script src="../static/js/settings.js"></script>
</head>
<body>
    <div class="leftPart" id="back1">
        <div class="profile">
            <div class="img"><img src="../static/img/defaultPP.png" alt="" class="pp"></div>
            <div class="username">{{.Username}}</div>
        </div>
        <div class="stats">
            <div class="stat lvl">
                <div class="info">
                    <span class="name">lvl 1</span> <span class="value">0 xp</span>
                </div>
                <div class="progressBar"></div>
            </div>
            <div class="stat barks"><span class="name">Bark</span> <span class="value">0</span></div>
            <div class="stat likes"><span class="name">Likes</span> <span class="value">10</span></div>
            <div class="stat dislikes"><span class="name">Dislikes</span> <span class="value">50</span></div>
        </div>
        <div class="buttons">
            <div class="color"></div>
            <button class="bark">+ Barking</button>
        </div>
        <div class="disconnect">
            <form method="post" action="">
                <button type="submit" name ="disconnect" value="disconnect" class="btn-Disconnect">Disconnect</button>
            </form>
        </div>
    </div>
    <div class="settings" id="back2">
        <div class="setting head">
            <div class="color"></div>
            <span class="value">AVATAR</span>
            <button class="edit" onclick="openPopup(1)">Edit</button>
        </div>
        <div class="setting username">
            <div class="color"></div>
            <span class="value">USERNAME</span>
            <button class="edit" onclick="openPopup(2)">Edit</button>
        </div>
        <div class="setting email">
            <div class="color"></div>
            <span class="value">E-MAIL</span>
            <button class="edit" onclick="openPopup(3)">Edit</button>
        </div>
        <div class="setting password">
            <div class="color"></div>
            <span class="value">PASSWORD</span>
            <button class="edit" onclick="openPopup(4)">Edit</button>
        </div>
        <div class="setting account">
            <div class="color"></div>
            <span class="value">ACCOUNT</span>
            <button class="delete" onclick="openPopup(5)">Delete</button>
        </div>
    </div>
    <div class="backgroundPopup" id="background"></div>

    <div class="popup head" id="1">
        <div class="fa fa-close close" onclick="closePopup(1)"></div>
        <span>Available soon</span>
    </div>
    <div class="popup username" id="2">
        <form method="post">
            <div class="fa fa-close close" onclick="closePopup(2)"></div>
            <input type="text" hidden name="title" value="username">
            <span class="name">Change username</span>
            <input type="text" name="new" placeholder="Username">
            <div class="buttons">
                <button type="submit" class="submit">Save</button>
            </div>
        </form>
    </div>
    <div class="popup email" id="3">
        <form method="post">
            <div class="fa fa-close close" onclick="closePopup(3)"></div>
            <input type="text" hidden name="title" value="email">
            <span class="name">Change Email</span>
            <input type="text" name="new" placeholder="Email">
            <div class="buttons">
                <button type="submit" class="submit">Save</button>
            </div>
        </form>
    </div>
    <div class="popup password" id="4">
        <form method="post">
            <div class="fa fa-close close" onclick="closePopup(4)"></div>
            <span class="name">Change Password</span>
            <div class="inputs">
                <input type="text" hidden name="title" value="password">
                <input type="text" name="actualPassword" class="actualPassword" placeholder="actual password">
                <input type="text" name="newPassword" class="newPassword" placeholder="new password">
                <input type="text" name="validatePassword" class="validatePassword" placeholder="validate password">
            </div> 
            <div class="buttons">
                <button type="submit" class="submit">Save</button>
            </div>
        </form>
    </div>
    <div class="popup account" id="5">
        <form method="post">
            <input type="text" hidden name="title" value="delete">
            <div class="fa fa-close close" onclick="closePopup(5)"></div>
            <span class="name">Are you sure about that</span>
            <div class="buttons">
                <button type="submit" class="delete">Delete</button>
            </div>
        </form>
    </div>

</body>
</html>