* {
    color : #fff;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'gg sans', sans-serif;
}

body {
    background-color: #1e1f22;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #313338;
    padding: 80px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px;
}

.logo {
    height: 40px;
    width: 40px;
}

.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #1e1f22;
    color: #fff;
}

input {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.btn-login {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #9800fe;
    color: #fff;
    cursor: pointer;
}

.pop-up {
    background-color: #313338;
    position : absolute;
    visibility: hidden; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 10px;
    padding: 150px;
    width: 60px;
    height: 100px;
}

.active {
    visibility: visible;
    transition: all 0.5s ease-in-out;
}

.form-forgot-password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    text-align: center;
    justify-content: center;
}

