body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'gg sans', sans-serif;
    --main-color:#9800fe;
    --bg-color:#1e1f22;
}

.search-bar {
    position: relative;
}

.search{
    position: relative;
    padding: 1vw;
    width: 18vw;
    height: 1vw;
    border-radius: 5px;
    background-color: #313338;
    color: white;
    appearance: none;
    outline: none;
    border: none;
    font-size: 1.1vw;
    
}

.search:focus{
    outline: solid var(--main-color) 0.2vw;
}

.search-bar::after{
    font-family: "FontAwesome";
    content: "\f002";
    font-weight: 900;
    font-size: 1.5vw;
    color: white;
    height: 1.5vw;
    width: 1.5vw;
    transform-origin: center;
    position: absolute;
    pointer-events: none;
    top: 25%;
    right: 3%;
    z-index: 1;
}


.navigation {
    width: 20vw;
    color: white;
    position: fixed;
    left:75%;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.selector-sort,.selector-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.selector-sort select,.selector-filter select{
    width: 17vw;
    height: 3vw;
    border-radius: 5px;
    text-align: center;
    background-color: #313338;
    color: white;
    appearance: none;
    outline: none;
    border: none;
    position: relative;
    font-size: 1.1vw;
}

.selector-sort::after,.selector-filter::after{
    font-family: "FontAwesome";
    content: "\f0de";
    pointer-events: none;
    font-weight: 900;
    font-size: 1.5vw;
    z-index: 2;
    display: flex;
    text-align: center;
    transform-origin: 50% 85%;
    height: 0.5vw;
    color: white;
    top:35%;
    right: 20%;
    
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.5s;
}
.selector-sort:focus-within::after,.selector-filter:focus-within::after{
    transform: rotate(180deg);
    transition: all 0.5s;
}

.selector-sort div,.selector-filter div{
    font-size: 2vw;
    position: relative;
    top: 100%;
    height: 2vw;
}


@media screen and (max-width: 900px) {
    .search{
        height: 20px;
        font-size: 10px;
    }

    .search-bar::after{
        font-size: 15px;
        margin-right: 10px;
    }

    .selector-sort select,.selector-filter select{
        height: 20px;
       
        font-size: 10px;
    }
}