* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'gg sans', sans-serif;
}

body {
    width: 100wh;
    display: flex;
    justify-content: center;
    background-color: #151618;
    padding-top: 22px;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 12px;
    background-color:#ffffff00;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 30px;
    border: 0.1vw solid var(--bg-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
}

*::-ms-scrollbar {
    width: 12px;
    background-color: #ffffff00;
}

*::-ms-scrollbar-thumb {
    background-color: var(--main-color);
    border: 0.1vw solid var(--bg-color);
}

#c{
    overflow: hidden;
}