body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'gg sans', sans-serif;
    --main-color:#9800fe;
    --bg-color:#1e1f22;
}
.side-left {
    
    position: fixed;
    top: 20px;
    left: 20px;
    max-width: 13vw;
    max-height: 600px;

    display: flex;
    flex-direction: column;
    /* margin-right: 22px; */
    gap: 1.2vw;
}

.logo-bark{
    display: flex;
    justify-content: center;
}

.logo-bark img {
    position: relative;
    width: 25%;
}

.progress-bar{
    height: 0.8vw;
    width: auto;
    border-radius: 10px;
    background-color: #a6aab5;
    position: relative;
    overflow: hidden;
}

.progress-bar::before{
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 0.8vw;
    width: 50%;
    border-radius: 10px;
    background-color: var(--main-color);
    /* animation: progressBar 2s linear infinite; */
}


.progress-bar:hover::before{
    animation: progressBar 1s linear infinite;
}

@keyframes progressBar {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
  }

.side-left #icon{
    font-size: 1.8vw;
    height: 2vw;
    width: 2vw;
    margin-left: 0.5vw;
}

.side-left .my-profile img {
    width: auto;
    height: 13vw;
    display: flex;
    background-color: gray;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.side-left .my-profile h2 {
    background-color: #313338;
    height: 48px;

    color: white;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 22px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.side-left .consumer-profile {
    background-color: #313338;
    color: white;
    border-radius: 8px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw;
    /* border: dashed white 0.1vw; */
}


.Bark-stat,.Like-stat,.Dislike-stat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}




.side-left .button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    margin-bottom: 22px;
}

.setting-button,.barking-button{
    /* border: dashed white 0.1vw; */
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    align-self: start;
    align-items: center;
    color: white;
    height: 3.5vw;
    width: 13vw;
    gap: 1.5vw;
    padding-top: 0.6vw;
    padding-bottom: 0.5vw;
    justify-content: flex-start;

}

.barking-button{
    background-color: var(--main-color);
}
.setting-button{
    background-color: #313338;
}

.setting-button a,.barking-button a{
    /* border: dashed white 0.1vw; */
    font-size: 1.5vw;
    color: white;
}

.settings-icon,.barking-icon{
    margin-left: 0.5vw;
    /* border: dashed white 0.1vw; */
    width: 2vw;
    height: 2vw;
}



