.side-left .my-profile h2 {
    background-color: #313338;
    color: white;
}

.side-left .consumer-profile {
    background-color: #313338;
    color: white;
}

.side-left .settings-button {
    background-color: #313338;
    color: white;
}

.side-left .barking-button {
    background-color: #5865f2;
    color: white;
}
