.topic {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 838px;
}

.head-topic {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 800px;
    height: 71px;

    background-color: #313338;
    color: white;

    border-bottom: 2px solid #3f4147;

    border-radius: 8px 8px 0px 0px;
    padding: 19px;
}

.head-topic h1 {
    padding-bottom: 12px;
}

.head-topic .sub-info {
    display: flex;
    align-items: center;
}

.head-topic .sub-info img {
    height: 12px;
    margin-right: 6px;
}

.head-topic h3 {
    color: #b5bac1;
    font-size: 16px;
    font-weight: 600;
}

.head-topic .tag {
    background-color: #232428;

    font-weight: 700;
    font-size: 16px;

    margin-left: 16px;
    margin-right: -9px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 11.5px;

    border-radius: 25px;
}





.topic-text {
    background-color: #313338;
    padding: 20px 31px;
    color: white;
    border-bottom: 2px solid #3f4147;
    font-size: 20px;
}





.interactive-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    margin-bottom: 22px;

    background-color: #313338;
    color: white;
    border-radius: 0px 0px 8px 8px;
}

.interactive-bar button {

    display: flex;
    align-items: center;

    background-color: #232428;
    color: #b5bac1;

    font-size: 15px;
    font-weight: 600;

    border: 0;
    border-radius: 8px;
    height: 27px;

    padding: 6px;
    margin: 10px -2px 10px 10px;
}

.interactive-bar button:hover {
    background-color: #3f4147;
    cursor: pointer;
}

.interactive-bar button:last-child {
    display: flex;
    justify-content: center;
    width: 40px;
    background-color: #3f4147;

    margin-left: auto;
    margin-right: 10px;
}

.interactive-bar button img:not(:last-child){
    margin-right: 9px;
}

.interactive-bar button img {
    width: 22px;
}

.interactive-bar button img:nth-child(1) {
    width: 16px;
}

.interactive-bar button:nth-child(3) {
    padding: 0px 11px 0px 9px;
    font-size: 12px;
}

.like-button-clicked {
    outline: 2px solid #77b255;
    background-color: #272b2a;
    color: white;
}

.dislike-button-clicked {
    outline: 2px solid #f34336;
    background-color: #2d2629;
    color: white;
}

.like-button-clicked:nth-child(1) {
    color: white;
    background-color: #37423a;
}

.dislike-button-clicked:nth-child(2) {
    color: white;
    background-color: #4d3438;
}

.like-button-clicked:nth-child(1):focus:not(:active) {
    color: white;
    background-color: #37423a;
}

.dislike-button-clicked:nth-child(2):focus:not(:active) {
    color: white;
    background-color: #4d3438;
}

.interactive-bar button:nth-child(3):active {
    outline: 2px solid #ffffff;
    background-color: #4f5153;
    color: white;
}

.interactive-bar button:nth-child(4):hover {
    background-color: #4f5057;
}

.interactive-bar button:nth-child(4):active {
    background-color: #17181a;
}





/************************* COMMENTS *************************/

.comments {
    display: flex;
    width: 806px;
    background-color: #313338;
    border-radius: 8px 8px 0px 0px;
    padding: 16px;
    border-bottom: 2px solid #3f4147;
}

.comments div {
    padding-top: 15px;
    margin-left: 25px;
    padding-bottom: 14px;
}

#pseudonym {
    color: #00a8fc;
    font-size: 22px;
    font-weight: 500;
}

#date {
    color: #8d9298;
    font-weight: 500;
    margin-left: 3px;
}

.comments img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.comments p {
    color: white;
    font-size: 20px;
}





/************************* NAV-BUTTON *************************/

.nav-button {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.nav-button .nav-element {
    background-color: #313338;
    color: white;
    width: 50px;
    height: 50px;
    border: 0px;
    border-radius: 500px;
    margin: 10px 11px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button .nav-element:hover {
    background-color: #454950;
    cursor: pointer;
}

.nav-button .nav-element img {
    height: 18px;
}

.nav-button .nav-element:nth-last-child(-n+2) img {
    transform: scaleX(-1);
}
