* {
    color : #fff;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #1e1f22;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #313338;
    padding: 80px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px;
}

.logo {
    height: 40px;
    width: 40px;
}

.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #1e1f22;
    color: #fff;
}

.label-mail input {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.btn-login {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #5865f2;
    color: #fff;
    cursor: pointer;
}